.container {
  background: #1b242e;
  color: #dddd;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.welcome span {
  color: #ff0083;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form {
  background: #151c18;
  border-radius: 0.25rem;
  border-width: 1px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  padding: 1.25rem;
  width: 75vw;
  min-width: 50vw;
  border-color: #151c18;
}

.form:hover {
  border-color: #ff0083;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title input {
  background: #151c18;
}
.title input:focus-within {
  border-color: #ff0083 !important;
  outline: none;
}
