.container {
  background: #1b242e;
  color: #dddd;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.welcome span {
  color: #ff0083;
  font-weight: bold;
}

.welcome p {
  font-size: xx-large;
  font-weight: bold !important;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form {
  background: #151c18;
  border-radius: 0.25rem;
  border-width: 1px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  padding: 1.25rem;
  width: 75vw;
  min-width: 50vw;
  border-color: #151c18;
}

.form:hover {
  border-color: #ff0083;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title input {
  background: #202723;
}

.title input:hover {
  background: #202723;
}

.title input:focus-within {
  border-color: #ff0083 !important;
  outline: none;
}

select,
option,
option:hover,
textarea {
  background: #202723 !important;
}

select:focus-within,
textarea:focus-within {
  border-color: #ff0083 !important;
}

select option {
  color: #dddd;
}

select option:hover {
  background-color: #ff0083 !important;
}

.form {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.quoteContainer {
  background: #1b242e;
  color: #dddd;
  height: 100vh;
}
.quoteHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quoteHeading p {
  margin-top: 3rem;
  font-weight: bold;
  font-size: 2rem;
  color: #ff0083;
}

.quoteHeading p:hover {
  color: #621e41;
}

.quote {
  display: flex;
  justify-content: space-evenly;
}

.quote p {
  width: 25rem;
  font-size: x-large;
  font-weight: bold;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.Trash:hover {
  color: #ff0083 !important;
}

.left p:hover {
  color: #ff0083;
}

.right p:hover {
  color: #ff0083;
}

@media screen and (max-width: 440px) {
  .welcome p {
    font-size: medium;
  }
  .quote p {
    font-size: medium;
  }
  .quotes {
    padding: 2rem;
  }
}
