.container {
  background: #1b242e;
  color: #dddd;
  height: 100%;
}

.headerLogo {
  font-weight: bold;
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  height: 15vh;
}

.header h2:hover {
  color: #ff0083;
  cursor: pointer;
}

.headerBtn {
  display: flex;
  gap: 2rem;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotesBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
  padding: 2rem;
}

.quoteContainer {
  background: #1b242e;
  min-height: 30vh;
  width: 35vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.quoteContainer:hover {
  box-shadow: #ff0083 0px 5px 15px;
}
