.container {
  background: #1b242e;
  color: #dddd;
  height: 100vh;
}

.headerLogo {
  font-weight: bold;
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  height: 15vh;
}

.header h2:hover {
  color: #ff0083;
  cursor: pointer;
}

.headerBtn {
  display: flex;
  gap: 2rem;
}
